= partial "_header"
= partial "_nav"
= partial "_jumbotron"
= partial "_options"
= partial "_calculator"
= partial "_terms"
= partial "_form"
= partial "_props"
= partial "_docs"
= partial "_map"
= partial "_last_form"
= partial "_footer"